// overwrites

body {
  font-size: 2.5vmin;
}

h1,h2,h3,h4,h5,h6 {
  border-bottom: 0;
}

h1 {
  font-size: 2.1em;
  text-align: center;
  margin-top: 0;
}
h2 {
  font-size: 1.4em;
  margin-top: 1em;
}
h3 {
  font-size: 1.1em;
  margin-top: 1em;
}

h4, h5, h6 {
  font-size: 1em;
}

body {
  line-height: 1;
  min-height: 740px;
  color: @fontColor;
  background: @bgColor;
  background: -webkit-gradient(radial,50% 50%,0,50% 50%,500,from(@bgColorStart),to(@bgColorEnd));
  background: -webkit-radial-gradient(@bgColorStart,@bgColorEnd);
  background: -moz-radial-gradient(@bgColorStart,@bgColorEnd);
  background: -ms-radial-gradient(@bgColorStart,@bgColorEnd);
  background: -o-radial-gradient(@bgColorStart,@bgColorEnd);
  background: radial-gradient(@bgColorStart,@bgColorEnd);
}

blockquote {
  color: @quoteColor;
  border-color: @quoteBorderColor;
}

p,li {
  margin-bottom: 1em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 1em;
}

.highlight pre, pre{
  background-color: @codeBackground;
}

a {
  color: @linkColor;
  text-decoration: underline;
  padding: 0.1em;
}

a:hover{
  color: lighten(@linkColor,30);
}

.step {
  position: relative;
  width: 85vw;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  opacity: 0.15;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  &.active{
    opacity: 1;
  }
}

kbd{
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 0.15em 0.35em;
  font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 0.4vmax;
  box-shadow: inset 0 -0.1vmax 0 #bbb;
}

@media (orientation: portrait) {
  .step{
    width: 95vw;
  }
}
