@import "fonts";

// Theme definition

.dark(){
  @bgColorStart: #333;
  @bgColorEnd: #0f0f0f;
  @bgColor: #d7d7d7;
  @fontColor: #eee;
  @quoteColor: darken(@fontColor,30);
  @codeBackground: #000;
  @codeTheme: "dark";
}

.light(){
  @bgColorStart: #f0f0f0;
  @bgColorEnd: #bebebe;
  @bgColor: #d7d7d7;
  @fontColor: #0f0f0f;
  @quoteColor: lighten(@fontColor,30);
  @codeBackground: #f0f0f0;
  @codeTheme: "light";
}

.serif(){

  // font face
  .droidSerif();

  body{
    font-family: 'Droid Serif',Georgia,serif !important;
  }

}

// Theme setting

.setTheme(dark) {
  @import "@{codeStylesPath}/atom-dark.less";
  .dark();
}
.setTheme(light) {
  @import "@{codeStylesPath}/atom-light.less";
  .light();
}

.setTheme(dark-serif){
  .setTheme(dark);
  .serif();
}

.setTheme(light-serif){
  .setTheme(light);
  .serif();
}

.setTheme(@theme);
