@import "fonts";

// Theme definition

.dark(){
  @bgColorStart: #333;
  @bgColor: #333;
  @bgColorEnd: #0f0f0f;
  @fontColor: #eee;
  @linkColor: #f8f8f8;
  @quoteColor: #ccc;
  @quoteBorderColor: lighten(@quoteColor, 15);
  @codeBackground: #000;
  @codeTagBackground: rgba(255,255,255,0.1);
  @codeTheme: "dark";
  @tableBorderColor: #555;
  @tableBackgroundColor: #222;
  @tableAlternateBackground: lighten(@tableBackgroundColor, 12);
}

.light(){
  @bgColor: #f0f0f0;
  @bgColorStart: #f0f0f0;
  @bgColorEnd: #bebebe;
  @fontColor: #0f0f0f;
  @linkColor: #000;
  @quoteColor: lighten(@fontColor,30);
  @quoteBorderColor: darken(@quoteColor, 15);
  @codeBackground: #f0f0f0;
  @codeTagBackground: rgba(0,0,0,0.06);
  @codeTheme: "light";
  @tableBorderColor: #ccc;
  @tableBackgroundColor: #eee;
  @tableAlternateBackground: darken(@tableBackgroundColor, 7);
}

.serif(){

  // font face
  .droidSerif();

  body{
    font-family: 'Droid Serif',Georgia,serif !important;
  }

}

// Theme setting

.setTheme(dark) {
  @import "@{codeStylesPath}/atom-dark.less";
  .dark();
}
.setTheme(light) {
  @import "@{codeStylesPath}/atom-light.less";
  .light();
}

.setTheme(dark-serif){
  .setTheme(dark);
  .serif();
}

.setTheme(light-serif){
  .setTheme(light);
  .serif();
}

.setTheme(@theme);
