// slides

@slideWidth: 85vw; // 85% of the screen width, 15% margin

// font sizes

@fontBase: 2.4vmin; // all other values will be re-calculated based on this
@fontSmall: 0.7 * @fontBase;
@fontH1: 2.6 * @fontBase;
@fontH2: 1.8 * @fontBase;
@fontH3: 1.2 * @fontBase;

@codeStylesPath: "code-highlight";
