// slides

@slideWidth: 85vw; // 15% margin
@slideHeight: 85vh; // 15% margin

// font sizes

@fontBase: 1.5vmax;
@fontSmall: 0.7 * @fontBase;
@fontH1: 2.6 * @fontBase;
@fontH2: 1.9 * @fontBase;
@fontH3: 1.4 * @fontBase;
